
  <md-card class="open-issue-counter">
    <md-card-title>Number of Open Issues </md-card-title>
    <md-card-content>
      <app-issue-count></app-issue-count>
    </md-card-content>
  </md-card>


  <div class="card-container">
    <md-card class="chart-card">
      <md-card-title>Number of users over time</md-card-title>
      <md-card-content>
        <app-user-count></app-user-count>
      </md-card-content>
    </md-card>

    <md-card class="chart-card">
      <md-card-title>Number of Issues over time</md-card-title>
      <md-card-content>
        <app-issues-over-time></app-issues-over-time>
      </md-card-content>
    </md-card>
  </div>